body {
<<<<<<< HEAD
  font-family: monospace;
  text-align: center;
}
* {
  font-family: monospace;
}

/*https://coolors.co/091540-7692ff-abd2fa-3d518c-1b2cc1*/
#calculator {
  width: 500px;
  margin: 0 auto;
  padding: 20px;
  border: 5px solid black;
  background-color: #193570;
}
#display, #memoryDisplay {
  color: white;
  background-color: #7692FF;
}
.number-button {
  background-color: white;
  color: black;
}
.operation-button {
  background-color: #1B2CC1;
  color: white;
}
.misc-button {
  background-color: #3D518C;
  color: white
}
button {
  width: 80px;
  height: 60px;
=======
  font-family: Arial, sans-serif;
  text-align: center;
}
#calculator {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid #000;
}
button {
  width: 60px;
  height: 40px;
>>>>>>> 8dc984a (move css to style.css)
  font-size: 18px;
}
input {
  width: 360px;
  height: 40px;
  text-align: right;
  font-size: 18px;
}
