body {
    font-family: monospace;
    text-align: center;
  }
  * {
    font-family: monospace;
  }


  #calculator {
    width: 500px;
    margin: 0 auto;
    padding: 20px;
    border: 5px solid black;
    background-color: #193570;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  }
  #display, #memoryDisplay {
    color: white;
    background-color: #7692FF;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  .number-button {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease; /* Smooth hover effect */
  }


  .operation-button {
    background-color: #1B2CC1;
    color: white;
    transition: background-color 0.3s ease;
  }

  .misc-button {
    background-color: #3D518C;
    color: white;
    transition: background-color 0.3s ease;
  }

  button {
    width: 75px;
    height: 50px;
    font-size: 18px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  }
  button:active {
    transform: scale(0.98);
  }
  button:hover {
    background-color: #4c5d99;
    cursor: pointer;
  }
  
  input {
    width: 360px;
    height: 40px;
    text-align: right;
    font-size: 18px;
    border-radius: 10px;
    border: none;
    padding: 5px;
  }

  